



.App-header {
  background-color: gray;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
.container {
  background-color: #928a8a;
  border: double rgb(10, 199, 189);
  min-height: 60vh;
  width: 45vw ;
  display: flex;
  padding: 20px 0px;
  /* padding-top: 5px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 23, 23);
  /* margin: 0 auto;
  gap: 10px; */
  border-radius: 20px;
  align-items: center;
  
}
.logoo img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: gray;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: white; */
}
.btn button{
  /* background-color: gray; */
background-color:transparent;
border: none;
height: 40px;
width: 120px;
border-radius: 10px;
color: black;
background-color: rgb(10, 199, 189);
font-size: large;
font-weight: bold;

}
.btn button:hover{
  border:  2px solid rgb(10, 199, 189);
  border: double black;
  background-color: transparent;
  
}
